# Auto detect text files and perform LF normalization
* text=auto

# Exclude many files from GitHub's language stats
*.d.ts linguist-generated
Configurator/src/utils/fonts.ts linguist-generated
other/** linguist-vendored
