# Auto detect text files and perform LF normalization
* text=auto

# Exclude many files from GitHub's language stats
*.d.ts linguist-generated
Configurator/src/utils/fonts.ts linguist-generated
other/** -linguist-detectable
Firmware/include/pioasm/*.h linguist-generated

# Correct the language detection
*.pio linguist-language=Assembly
Firmware/src/**/*.h linguist-language=C++
