~*

# Previews Folders
**/__Previews/

# History Folders
**/History/*

# Project Logs
Project\ Logs*/

# Project Outputs
Project\ Outputs*/

# Altium files
__Previews
*.htm
Firmware/.last_git_hash
Firmware/include/git_version.h

#KiCad files
*-backups/
fp-info-cache
